<link rel="stylesheet" href="aaa.css">
<div class="window active">
    <div class="window-toolbar">
        <div class="window-title">Display Properties</div>
        <div class="window-buttons">
            <div class="window-button close"></div>
            <div class="window-button help"></div>
        </div>
    </div>
    <div class="window-wrapper">
        <div class="window-tabs">
            <button class="tabs-button active">Background</button>
            <button class="tabs-button">Screen Saver</button>
            <button class="tabs-button">Appearance</button>
            <button class="tabs-button">Effects</button>
            <button class="tabs-button">Web</button>
            <button class="tabs-button">Settings</button>
        </div>
        <div class="window-content">
            <form>
                <fieldset>
                    <legend>Wallpaper</legend>

                    <div class="window-hero">
                        <div class="window-hero-monitror">
                            <!-- TO DO - Monitor illustration -->
                        </div>
                    </div>

                    <p>Select an HTML Document or a picture</p>
                    <select name="wallpaper" size="5">
                        <option value="none">(None)</option>
                        <option value="1">1st Boot</option>
                        <option value="2">Black Thatch</option>
                        <option value="3">Blue Rivets</option>
                        <option value="4">Bubbles</option>
                    </select>
                </fieldset>
            </form>
        </div>

        <div class="window-actions">
            <button class="window-action-button">Apply</button>
            <button class="window-action-button">Cancel</button>
            <button class="window-action-button">OK</button>
        </div>
    </div>
</div>